<div class="container-fluid">
  <p class="h3 p-3">{{ dinosaurioDetail.name }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ dinosaurioDetail.image }}"
          alt="{{ dinosaurioDetail.name }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Nombre científico</dt>
        <dd>{{ dinosaurioDetail.scientificName }}</dd>
        <hr />
        <dt>Alimentación</dt>
        <dd>{{ dinosaurioDetail.feeding}}</dd>
        <hr />
        <dt class="bold">Era</dt>
        <dd>{{ dinosaurioDetail.era}}</dd>
        <hr />
        <dt class="bold">País de descubrimiento</dt>
        <dd>{{ dinosaurioDetail.discoveryCountry}}</dd>
        <dt class="bold">Descripción</dt>
        <dd>{{ dinosaurioDetail.description}}</dd>
      </dl>
    </div>
  </div>
 </div>